.Chepai *{
	margin: 0;
	padding: 0;
	list-style:none;
	border:0;
	box-sizing:border-box;
}
.Chepai body{
	margin: 0;
	padding: 0;
}
.Chepai .clearfix:after {
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}
.Chepai .clearfix {
	display: block;
}
.Chepai *+html .clearfix {
	min-height: 1%;
}
.Chepai .che_tit{
	text-align:center;
	padding:20px;
}
.Chepai .ul_pro{
	background-color:#E8E8E8;
	text-align:center;
	padding:4px 2px;
	font-size:14px;
	position: fixed;
	bottom: 50px;
	left: 0;
	z-index: 5;
}
.Chepai .ul_pro li{
	float:left;
	width:14.28%;
	padding:3px;
	box-sizing: border-box;
}
.Chepai .ul_pro li span{
	color: #252525;
}
.Chepai .ul_pro .li_close{
	float:right;
	width:19%;
}
.Chepai .ul_pro .li_close span,.Chepai .ul_pro .li_clean span,.Chepai .ul_pro .li_delete span{
	background-color:#CCCCCC;
}
.Chepai .ul_pro .li_clean{
	float:right;
	width:19%;
}
.Chepai .ul_pro .li_delete{
	float:right;
	width:19%;
}
.Chepai .ul_pro li span{
	display:block;
	background-color:#fff;
	border-radius:4px;
	box-shadow: 1px 1px 1px #888888;
	/* max-width:48px; margin:0 auto; */
	line-height:38px;
	padding-top:2px;
	height:40px;
}
.Chepai .ul_pro li span:active{
	background-color:#4DA9F2;
	color:#fff;
}
.Chepai .ul_keybord{
	background-color:#E8E8E8;
	text-align:center;
	padding:4px 2px;
	font-size:14px;
	position: fixed;
	bottom: 50px;
	left: 0;
	z-index: 5;
}
.Chepai .ul_keybord li{
	float:left;
	width:10%;
	padding:2px;
	box-sizing: border-box;
}
.Chepai  .delete{
	background: #ffffff url("../../dist/img/delete-o.svg") no-repeat center center;
	background-size: 80% 80%;
	display: block;
	height: 34px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 1px #888888;
	box-shadow: 2px 2px 2px #888888;
	line-height: 32px;
	padding-top: 2px;
}
.Chepai .ul_keybord .ikey20{
	margin-left:5%;
}
.Chepai .ul_keybord .li_w{
	width:11.11%;
}
.Chepai .ul_keybord .li_close{
	float:right;
	width:22.22%;
}
.Chepai .ul_keybord .li_close span{
	background-color:#ACB3BB;
}
.Chepai .ul_keybord .li_clean{
	float:right;
	width:22.22%;
}
.Chepai .ul_keybord li span{
	display:block;
	background-color:#fff;
	border-radius:4px;
	box-shadow: 1px 1px 1px #888888;
	/* max-width:48px; margin:0 auto; */
	line-height:38px;
	height: 40px;
	padding-top:2px;
}
.Chepai .ul_keybord li span:active{
	background-color:#4DA9F2;
	color:#fff;
}
.Chepai .energy_choose{
	width: 100%;
	display: flex;
	padding: 0 20px;
}
.Chepai .energy_choose .choose{
	width: 22px;
	height: 22px;
	margin-left: 15px
}
.Chepai .energy_choose span{
	font-size: 14px;
	font-weight: bold;
	margin-left: 8px
}